*{

padding:0;
margin: 0;
box-sizing: border-box;
}





 nav{

 display: flex;
justify-content: space-between;
width: 100%;
height: 200px;
color: gray;
background-color: rgba(0, 162, 255, 0.104);
padding-top: 50px;
padding-left:200px ;
padding-right: 100px;

}


.nav-right{

display: flex;
 align-items: center; 

}











 /* navright */

    a{

        color: gray;

       
        font-size: 10px;
        text-decoration: none;
        padding: 10px;
}


a.home{

border-bottom: 0.5px purple solid ;

}


/* nav left */

.login{

color:gray;
    
position: relative;
right:100px;
top: 30px;

}

.login p{

 font-size: 10px;

position:absolute;
top:3px;
right:15px;

}


/* section2 */


.sec2{

position: relative;


}





.land{

    position:absolute;
left: 700px;
top:10px;

}

.man{

position:absolute;
top:20px;
left:770px;

}

.cloudd{
    position:absolute;
    top:270px;
    left:700px;
 opacity:0.9 ;
}


.wave{

    position:absolute;
    top:300px;
    left:100px;

}

.heading{

    color: gray;
    position:absolute;

    top:150px;
    left:300px;
}


.heading h1{

    color:#808080;
}


 span{

    color:purple;
}
  



.heading h1{
    font-size:30px;
}

 


/* section 3 */


.sec3{
height:300px;
position: relative;


}
.pic1{
margin-top: 50px;
margin-left: 200px;


}


 .pic2{
color: gray;
position:absolute; 
top:30px;
left:150px;
}


.pic3{
    color: gray;
    position:absolute;
    
    left:530px;
    top:220px;
}  

.pic4{
    color: gray;
    position:absolute; 

    left:900px;
    top:400px;

}


.pic5{

position: absolute;
top:370px;
left: 100px;


}


.paragraph{
color: white;
position:absolute;
left: 90px;
top: 90px;
}




/* section4 */
.sec4{
    height:600px;
    color: gray;
    display: flex;
justify-content:space-around;
align-items: center;
margin-top: 220px;
margin-left: 200px;
margin-right: 200px;
}
.second{

    margin-left: 100px;
}




/* .foot{
   
    
     position: relative;
    
     }


     .foot1{

        position:absolute;
         top:3px;
    left: 600px;  
        }
        
.button{

position: absolute;
top:250px;
left:70px;

}


.apple img{


    position:absolute;
top: 2px;
    left:15px;
}

.apple h6{
    font-size: 8px;
color: gray;
    position:absolute;
    top:11px;
left:35px;
}

.apple p{
    
    font-size: 6px;
    color:gray;
    position:absolute;
    top:4px;
left:35px;


}








.play img{
    
    position:absolute;
    top:2px;

left:100px;
}

.play h6{
font-size: 8px;
    color: gray;
    position:absolute;
    top:11px;

left:120px;
}

.play p{
    
    font-size: 6px;
    color:gray;
    position:absolute;
    top:4px;
left:120px;


}


 .icons{
    

position: absolute;
top:1990px;
left:70px;

}




 .end-foot{

position:absolute;
top:2020px;
left:60px;

} 

 .end-foot a{


    color:white;
} */
 

.foot{
width: 100%;

    position: relative;

}



.foter{
height:500px;
 
width:100%;

position:absolute;


}